n8n/linkedin-schedule-post.workflow.json
{
  "name": "LinkedIn — Scheduled Post (Outbound OS)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-schedule",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (from app)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-260, 0],
      "webhookId": "linkedin-schedule"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.body.scheduled_at }}"
      },
      "id": "wait-until",
      "name": "Wait until scheduled_at",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-40, 0],
      "webhookId": "linkedin-schedule-wait"
    },
    {
      "parameters": {
        "url": "={{ $json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-sync-secret", "value": "REPLACE_WITH_SYNC_SECRET" }
          ]
        },
        "options": {}
      },
      "id": "verify-status",
      "name": "Verify still scheduled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [180, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.should_publish }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-publish",
      "name": "Still scheduled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "postAs": "person",
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "linkedin-post",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [620, -100],
      "credentials": {
        "linkedInOAuth2Api": { "id": "REPLACE", "name": "LinkedIn account (identity)" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook (from app)').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-sync-secret", "value": "REPLACE_WITH_SYNC_SECRET" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"linkedin_post_url\": \"https://www.linkedin.com/feed/update/{{ $json.id || $json.urn }}\"\n}",
        "options": {}
      },
      "id": "mark-published",
      "name": "Mark published in app",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, -100]
    }
  ],
  "connections": {
    "Webhook (from app)": { "main": [[{ "node": "Wait until scheduled_at", "type": "main", "index": 0 }]] },
    "Wait until scheduled_at": { "main": [[{ "node": "Verify still scheduled", "type": "main", "index": 0 }]] },
    "Verify still scheduled": { "main": [[{ "node": "Still scheduled?", "type": "main", "index": 0 }]] },
    "Still scheduled?": { "main": [[{ "node": "Publish to LinkedIn", "type": "main", "index": 0 }], []] },
    "Publish to LinkedIn": { "main": [[{ "node": "Mark published in app", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
